<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuShi Khoa học Tự nhiên</title>
    <link rel="icon" type="image/png" href="img\logoHCMUS.png" />

    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    {{!-- Cố định --}}
    {{>background}}

    <div class="container">
        {{!-- Cố định --}}
        {{>banner}}

        {{{body}}}
    </div>

    <script src="/js/login.js"></script>
  </body>
</html>

