<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuShi Khoa học Tự nhiên</title>
    <link rel="icon" type="image/png" href="img\logoHCMUS.png" />

    <link rel="stylesheet" href="css/app.css">
    <link
      rel="stylesheet"
      href="/themify-icons/themify-icons.css"
    />
</head>
<body>
    <div class="app">
        {{>header}}

        <div class="container">
            {{{body}}}
        </div>

        {{>footer}}

    </div>






</body>
</html>