/* 
  .content-right-statistical {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container {
    text-align: center;
    padding: 2rem;
  }
  
  .chart-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #555;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  } */


/* Container */
.content-right-statistical {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Filter Form */
.filter {
  margin: 0px 3rem 5px 3rem;
  padding:  1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#form-period, 
#form-period-branchs,
#form-period-dish{
  display: flex;
}
#form-period-dish select{
  width: 170px;
}
.filter input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 140px; /* Thiết lập chiều rộng cố định */
}
.filter select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 90px; /* Thiết lập chiều rộng cố định */
}
.filter label {
  font-weight: bold;
  padding: 10px;
}
.filter .form-day input{
  border-radius: 0px;
  height: 44px;
}
.filter .form-month input{
  border-radius: 0px;
  height: 44px;
}
.filter .form-quarter input{
  border-radius: 0px;
  height: 44px;
}
.filter .form-year input{
  border-radius: 0px;
  height: 44px;
}
#chart-tyle{
  border-radius: 4px;
  width: 130px;
}
.filter button{
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: #2d5167;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s;
}
/* Chart */
.chart-container {
  text-align: center;
  /* padding: 10px; */
}

canvas {
  max-width: 100%;
  width: 1000px;
  height: 400px; 
  margin: 0 auto;
}
