<div id="login-form" class="">
  <div class="logo-sushi"></div>
  <div class="header-form">
    <h1>Đăng nhập</h1>
  </div>
  <div class="form-group user-name">
    <label>
      <p>Email</p>
      <input type="text" placeholder="Nhập email" />
    </label>
  </div>
  <div class="form-group password">
    <label>
      <p>Mật khẩu</p>
      <input type="password" placeholder="Nhập mật khẩu" />
    </label>
  </div>
  <button class="btn btn-login">Đăng nhập</button>
  <div class="forget-password">
    <a href="/forget-password" class="link">Quên mật khẩu?</a>
  </div>
  <div class="create-account">
    <p>Chưa có tài khoản?</p>
    <a href="/register" class="link">Tạo tài khoản</a>
  </div>
</div>