<div id="forget-password-form">
  <div class="logo-sushi"></div>
  <div class="header-form">
    <h1>Quên mật khẩu</h1>
  </div>
  <div class="form-group user-name-find">
    <label>
      <p>Email</p>
      <input type="text" placeholder="Nhập email" />
    </label>
  </div>
  <!-- Ẩn cho đến khi tìm được tài khoản -->
  <div class="form-group new-password hidden">
    <label>
      <p>Mật khẩu mới</p>
      <input type="password" placeholder="Nhập mật khẩu mới" />
    </label>
  </div>
  <div class="form-group confirm-new-password hidden">
    <label>
      <p>Xác nhận mật khẩu</p>
      <input type="password" placeholder="Mật khẩu xác nhận" />
    </label>
  </div>
  <button class="btn btn-find-account">Tìm tài khoản</button>
  <button class="btn btn-save-password hidden">Lưu mật khẩu</button>
  <div class="have-account">
    <p>Đã có tài khoản?</p>
    <a href="login" class="link">Đăng nhập</a>
  </div>
</div>