<div id="register-form">
  <div class="logo-sushi"></div>
  <div class="header-form">
    <h1>Đăng ký</h1>
  </div>

  <div class="line">
    <div class="customer-name">
      <label>
        <p>Tên khách hàng</p>
        <input type="text" placeholder="Tên khách hàng" />
      </label>
    </div>
    <div class="citizen-id">
      <label>
        <p>Căn cước công dân</p>
        <input type="text" placeholder="Căn cước công dân" />
      </label>
    </div>
  </div>

  <div class="line">
    <div class="gender">
      <label>
        <p>Giới tính</p>
        <select name="" id="">
          <option value="" disabled selected> </option>
          <option value="Male">Nam</option>
          <option value="Female">Nữ</option>
        </select>
      </label>
    </div>
    <div class="phone-number">
      <label>
        <p>Số điện thoại</p>
        <input type="tel" placeholder="Số điện thoại" />
      </label>
    </div>
    <div class="email">
      <label>
        <p>Email</p>
        <input type="email" placeholder="Email" />
      </label>
    </div>

  </div>

  <div class="line">
    <div class="password">
      <label>
        <p>Mật khẩu</p>
        <input type="password" placeholder="Mật khẩu" />
      </label>
    </div>
    <div class="confirm-password">
      <label>
        <p>Xác nhận mật khẩu</p>
        <input type="password" placeholder="Xác nhận mật khẩu" />
      </label>
    </div>
  </div>

  <button class="btn btn-register-account">Đăng ký</button>
  <div class="have-account">
    <p>Đã có tài khoản?</p>
    <a href="/login" class="link">Đăng nhập</a>
  </div>
</div>