<div class="payment">
    <div class="payment-header">
        <i class=""></i>
        <div class="payment-title">
            <p >Thanh Toán</p>
        </div>
        <input name="address-payment" type="text" placeholder="Vui lòng nhập địa chỉ nhận hàng">

    </div>

    <div class="payment-container">
        
    </div>
</div>
    <script src="/js/payment.js"></script>