<link rel="stylesheet" href="css/recruit.css" />

<div class="container-recruit">
  <div class="head-page">
    <h1>Đồng hành cùng chúng tôi</h1>
    <p>Chào bạn, nếu bạn đam mê ngành ẩm thực, đặc biệt là món sushi, và muốn
      làm việc trong môi trường năng động, thân thiện, chúng tôi rất hân hạnh
      chào đón bạn gia nhập đội ngũ của nhà hàng sushi của chúng tôi! Chúng tôi
      không chỉ tìm kiếm những nhân viên có tinh thần làm việc chăm chỉ, mà còn
      là những người đam mê và mong muốn phát triển nghề nghiệp trong ngành ẩm
      thực Nhật Bản. Hãy cùng chúng tôi tạo ra những món sushi tuyệt vời, mang
      đến cho khách hàng những trải nghiệm ẩm thực đáng nhớ. Đến với chúng tôi,
      bạn không chỉ có cơ hội học hỏi, mà còn được phát triển sự nghiệp lâu dài
      trong một môi trường làm việc đầy sáng tạo và nhiệt huyết!
    </p>
  </div>
  <div class="member-list">
    <div>
      <img src="img/member/tvc.jpg" alt="" />
      <p>Trương Việt Công</p>
      <p>Giám đốc marketing (CMO)</p>
    </div>
    <div>
      <img src="img/member/pcc.jpg" alt="" />
      <p>Phan Công Châu</p>
      <p>Giám đốc nhân sự (CHRO)</p>
    </div>
    <div>
      <img src="img/member/dnc.jpg" alt="" />
      <p>Đỗ Ngọc Cường</p>
      <p>Giám đốc điều hành (CEO)</p>
    </div>
    <div>
      <img src="img/member/dmc.jpg" alt="" />
      <p>Đạo Minh Chiến</p>
      <p>Giám đốc tài chính (CFO)</p>
    </div>
    <div>
      <img src="img/member/tdd.jpg" alt="" />
      <p>Trần Đại Đồng</p>
      <p>Giám đốc vận hành (COO)</p>
    </div>
  </div>

  <div class="infor-candidate">
    <h1>Thông tin ứng tuyển</h1>
    <div>
      <div class="input-field">
        <label class="fullname">
          <p>Họ và tên</p>
          <input type="text" />
        </label>
        <label class="phone-number">
          <p>Số điện thoại</p>
          <input type="text" />
        </label>
        <label class="applied-position">
          <p>Vị trí ứng tuyển</p>
          <select name="" id="">
            <option value=""></option>
            <option value="" disabled selected hidden> </option>
            <option value="1">Phục vụ</option>
            <option value="2">Thu ngân</option>
            <option value="3">Đầu bếp</option>
            <option value="4">Quản lý</option>
          </select>
        </label>
        <label class="date-interview">
          <p>Ngày phỏng vấn</p>
          <select name="" id="">
            <option value=""></option>
            <option value="" disabled selected hidden> </option>
            <option value="1">03/01/2025</option>
            <option value="2">05/01/2025</option>
            <option value="3">07/01/2025</option>
            <option value="4">09/01/2025</option>
            <option value="5">11/01/2025</option>
            <option value="6">13/01/2025</option>
            <option value="7">15/01/2025</option>
          </select>
        </label>
        <div class="send-info">
          <button>Gửi thông tin</button>
        </div>
      </div>
      <div class="remember">
        <h1>Đừng quên</h1>
        <ul>
          <li>- Mang theo giấy tờ cá nhân (CMND/CCCD, bằng cấp liên quan) để xác
            minh thông tin và trình độ.</li>
          <li>- Chuẩn bị bản CV cập nhật đầy đủ thông tin cá nhân, kinh nghiệm
            làm việc và các kỹ năng nổi bật.</li>
          <li>- Nghiên cứu kỹ về công ty và vị trí ứng tuyển để tự tin trả lời
            các câu hỏi.</li>
          <li>- Lên kế hoạch rõ ràng cho việc di chuyển đến buổi phỏng vấn để
            tránh bị trễ giờ.</li>
          <li>- Ăn mặc trang phục lịch sự và phù hợp với môi trường công việc
            của công ty.</li>
          <li>
            -Tập trung vào điểm mạnh của bản thân và chuẩn bị các câu hỏi để thể
            hiện sự quan tâm với công việc</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="js/recruit.js"></script>