<div class="reserveonline">
    <div class="reserveonline-header">
        <div class="reserveonline-title">
            <p>Đặt trước bàn</p>
        </div>
        <select class="table-select" id="tableSelect">
            <option value="" disabled selected>Chọn bàn</option>
            <option value="1">Bàn 1</option>
            <option value="2">Bàn 2</option>
            <option value="3">Bàn 3</option>
            <option value="1">Bàn 4</option>
            <option value="2">Bàn 5</option>
            <option value="3">Bàn 6</option>
            <option value="1">Bàn 7</option>
            <option value="2">Bàn 8</option>
            <option value="3">Bàn 9</option>
            <option value="1">Bàn 10</option>
            <option value="2">Bàn 11</option>
            <option value="3">Bàn 12</option>   
            <option value="1">Bàn 13</option>
            <option value="2">Bàn 14</option>
            <option value="3">Bàn 15</option>
            <option value="1">Bàn 16</option>
            <option value="2">Bàn 17</option>
            <option value="3">Bàn 18</option>
            <option value="1">Bàn 19</option>
            <option value="2">Bàn 20</option>
            <option value="3">Bàn 21</option>
            <option value="1">Bàn 22</option>
            <option value="2">Bàn 23</option>
            <option value="3">Bàn 24</option>         
            <option value="1">Bàn 25</option>
            <option value="2">Bàn 26</option>
            <option value="3">Bàn 27</option>
            <option value="1">Bàn 28</option>
            <option value="2">Bàn 29</option>
            <option value="3">Bàn 30</option>
        </select>
        <div class="datetime-reserve">
            <div class="date">
                <span id="selectedDate">Chọn ngày</span>
                <input type="date" class="date-select" id="dateSelect" />
            </div>
            <div class="time">
                 <span id="selectedDate">Chọn Giờ Đặt</span>
                <input type="time" class="time-select" id="timeSelect" />
            </div>
        </div>
        <div class="note-reserve">
            <input type="text" class="note-input" placeholder="Ghi chú thêm...">
        </div>
    </div>

    <div class="reserve-container">
        <div class="add-render">
        </div>
        <button class="reserve-btn">Đặt Bàn</button>
    </div>
</div>
    <script src="/js/reserve.js"></script>

