<div class="shopping-cart_header">
    <div class="header-cart">
        <i class="ti-shopping-cart"></i>
        <div class="title-cart">
            <span>MÓN ĂN CỦA TÔI</span>
        </div>
    </div>

    <div class="task">

    </div>

</div>
    <ul class="shopping-cartContainer">
      
        
    
    </ul>

{{!-- nut xac nhan --}}
<div class="confim-oder">
    <button class="btnconfirm orderonline" onclick="window.location.href='/paymentonline';">
        Đặt Ship Về
    </button>
    <button class="btnconfirm ordernow" onclick="window.location.href='/reserveOnline';">
        Đặt Tại Quán
    </button>
</div>
    <script src="/js/shoppingCart.js"></script>