<footer>
    <div class="footer-container">
        <ul>
            <li>
                 <!-- Logo and Contact -->
                <div class="footer-section-contact">
                    <div class="footer-logo"><image class="header-logo " src="img/logo.webp" alt="logo" ></image></div>
                    <h3>LIÊN HỆ</h3>
                    <p>11 Chi Nhánh, hệ thống toàn quốc</p>
                    <p>Hotline: 0342339167</p>
                    <p>Email: Cuonghandsome@gmail.com</p>
                </div>
            </li>
            <li>
                <!-- Fanpage -->
                <div class="footer-section-fanpage">
                    <h3>Fanpage</h3>
                    <div>
                        <a href="https://www.facebook.com/i.am.chauchoss">
                            <image class="picture-fanpage" src="img/background-home.png" alt="fanpage" ></image>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <!-- Policies -->
            <div class="footer-section-policies">
                <h3>Chính sách</h3>
                <ul>
                    <li><a href="https://www.facebook.com/i.am.chauchoss">Hỗ trợ đặt hàng</a></li>
                    <li><a href="https://www.facebook.com/i.am.chauchoss">Chính sách trả hàng</a></li>
                    <li><a href="https://www.facebook.com/i.am.chauchoss">Chính sách bảo hành</a></li>
                    <li><a href="https://www.facebook.com/i.am.chauchoss">Chính sách người dùng</a></li>
                    <li><a href="https://www.facebook.com/i.am.chauchoss">Chính sách mua hàng</a></li>
                </ul>
                 <!-- Social Links -->
                <div class="footer-section-social">
                    <h3>Liên kết MXH</h3>
                    <div class="social-icons">
                        <ul>
                            <li> <a href="https://www.facebook.com/" class="ti-facebook icon"></a></li>
                            <li><a href="https://www.google.com.vn/?hl=vi" class="ti-google icon"></a></li>
                            <li> <a href="https://www.youtube.com/" class="ti-youtube icon"></a></li>
                            <li> <a href="https://www.instagram.com/" class="ti-instagram icon"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </li>
        </ul>

           
        </div>
</footer>
   

            

            