<div class="header">
  <image class="header-logo" src="img/logo.webp" alt="logo"></image>
  <div class="header-main">
    <p1 class="header-title">SUSHI KHOA HỌC TỰ NHIÊN</p1>
    <div class="header-sidebar">
      <div class="sidebar-item active"><a href="/">Trang chủ</a></div>
      <div class="sidebar-item"><a href="/menu">Menu</a></div>
      <div class="sidebar-item"> <a href="/album">Album</a></div>
      <div class="sidebar-item"><a href="/recruit">Tuyển dụng</a></div>
    </div>

    <script></script>
  </div>
  <div class="header-log">
    <span class="user-name"></span>
    <a href="/login" class="link header-log-link">Đăng nhập</a>
    <a class="link header-logout-link hidden">Đăng xuất</a>
  </div>
</div>
<script src="/js/header.js"></script>