@charset "UTF-8";
.container_home-image {
  padding-top: 9%; }

.container_home-image .picture-home img {
  width: 100%; }

/* Đảm bảo tất cả item trong danh sách có chiều cao và chiều dài đồng đều */
.info-header {
  text-align: center;
  margin: 25px 0; }

.info-title {
  font-size: 35px;
  color: #00FF00;
  margin-top: 4%;
  margin-bottom: 6%; }

.info-text ul li:nth-child(1) {
  list-style: none;
  width: 70%; }

.info-text ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3%; }

.info-text h3 {
  font-size: 30px;
  color: #00FF00; }

.info-tetx_para {
  font-size: 25px;
  color: #FFFF; }

.products_outstanding ul {
  display: grid;
  /* Sử dụng Grid để tạo layout */
  grid-template-columns: repeat(3, 1fr);
  /* Chia ra 3 cột đều */
  gap: 20px;
  /* Khoảng cách giữa các item */
  padding: 20px 0;
  margin: 0; }

.products_outstanding ul li {
  list-style: none;
  background-color: rgba(2, 2, 2, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  /* Chiều cao tự động */
  min-height: 400px;
  /* Chiều cao tối thiểu cho mỗi item */
  border-radius: 8px;
  position: relative;
  padding: 15px;
  transition: transform 0.3s ease; }

.img-products_outstanding {
  width: 100%;
  height: 250px;
  /* Đặt chiều cao cố định cho ảnh */
  overflow: hidden;
  /* Ẩn phần thừa của ảnh */
  border-radius: 8px;
  /* Bo góc ảnh */
  margin-bottom: 15px;
  /* Khoảng cách giữa ảnh và text */ }

.img-products_outstanding img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Giữ tỉ lệ ảnh, crop nếu cần */ }

.products_outstanding p {
  font-size: 20px;
  color: #fff; }
